.App-logo {
    height: 80px;
}


.App-title {
    font-size: 1.5em;
}

.App-header {
    background-color: #221d1d;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
}

.custom-login-button {
    background-color: #221d1d;
    color: white; 
}